<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NLP App</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <link rel="stylesheet" href="/styles/loader.css">
    </head>

    <body>

        <header>
            <div class="headline">
                <h1>Natural Language Processing App</h1>
            </div>
        </header>

        <main>
            <section id="description">
                <p>Perform sentiment analysis of texts from different sources such as articles or blogs on the web or manually entered text below. 
                    The text provided is analyzed to determine if it expresses a positive/negative/neutral sentiment. To find out more visit <a href="https://www.meaningcloud.com/developer/sentiment-analysis/doc/2.1/what-is-sentiment-analysis" target="_blank">Meaning Cloud</a></p>
            </section>
            <section>
                <form name="form" id="form" onsubmit="return handleSubmit(event)">
                    <div class = "entry">
                      <label for="url">Enter URL of article here:</label>
                      <input id="url" name="url" placeholder="Enter url here" pattern="(http|https)://.*" title="url starting with http(s)://">
                    </div>
                    <div id="separator">
                        <p><strong>OR</strong></p>
                    </div>
                    <div class = "entry">
                      <label for="textEntry">Enter text here:</label>
                      <textarea class= "textEntry" id="textEntry" placeholder="Enter text to analyze here" rows="9" cols="50"></textarea>
                    </div>
                    <div class = "entry">
                      <input id="analyze" type="submit" value="Analyze">
                    </div>
                  </form>
            </section>
            <section>
                <h2>Analysis Results</h2>
                <div id="results">
                    <div id="loader" hidden></div>
                    <div id="data"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>Created by Milena Kari, student at <a href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd0011" target="_blank">Udacity Front-End Developer Nanodegree Program</a></p>
        </footer>
        <script src="/js/formHandler.js" type="text/javascript"></script>
        <script src="/js/updateUI.js" type="text/javascript"></script>
    </body>
</html>
