$background-color: #bbdfc8;
$secondary-color: #75cfb8;
$text-color: #f0e5d8;
$button-color: #23689b;

body {
    background: $background-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: $button-color;
}
