$background-color:  rgb(136,203,171);
$form-color:  rgb(238, 208, 208);
body {
    background: $background-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

#results {
    background-color: $form-color;
    margin: 0 auto;
    min-height: 200px;
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}