
body {
    background: rgb(136,203,171);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

#results {
    background-color: rgb(238, 208, 208);
    margin: 0 auto;
    min-height: 200px;
}