$background-color: #bbdfc8;
$secondary-color: #75cfb8;
$text-color: #f0e5d8;
$button-color: #23689b;

header {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    background-color: $secondary-color;
    border-top: solid $button-color 2px;
}

h1 {
    font-size: 3em;
    color: $text-color;
}
